.scroll {
    background-color: lightblue;
    height: 150px;
    overflow: auto;
    padding:5px;
    margin:0;
}

.scroll li {
    list-style: none;
    text-align: left;
}

.scroll li:hover {
    background-color: #99d;
}

button {
    margin: 0 5px 5px 0;
}

.head {
    text-align: right;
}

.actions {
    text-align: center;
}